<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="fulltests">

    <test name="front-end">
        <classes>
            <class name="edu.jespinoza.testng.TestUI" />
        </classes>
    </test>

    <test name="back-end">
        <classes>
            <class name="edu.jespinoza.testng.TestSecurity" />
            <class name="edu.jespinoza.testng.TestDataBase" />
            <class name="edu.jespinoza.testng.TestBackendConfig" />
        </classes>
    </test>

</suite>